<div
  style="
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  "
>
  @for(data of datas; track data.id){
  <div
    style="
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 15px;
    "
  >
    <app-card
      [title]="data.title"
      [data]="data.data"
      [id]="data.id"
      [type]="data.type"
      [img]="data.image"
      (cardData)="getData($event)"
      (cardId)="deleteData($event)"
    ></app-card>
  </div>

  }
</div>
